$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// custom styles

$baseColor: #FFF;
$secondaryColor: #FF00FF;
$greyTone: #F4F4F4;

$menuHeight: 75px;
$menuTopPadding: 12px;

body {
  background-color: #FFF;
}


.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-bottom: 2px solid $secondaryColor;
}

.navbar-default {
  background: $baseColor;

}

.navbar-header {
  height: $menuHeight;
}

.navbar-brand {
  padding-top: calc($menuTopPadding + 15px);
}


.navbar-nav {

  margin: 0 auto;
  width: 400px;
  float: none;
  border: 1px solid red;

  > li {
    height: $menuHeight;
    padding-top: $menuTopPadding;
    border: 1px solid green;
  }
}

.jumbotron {
  margin-bottom: 0;
}

//elements
#submenu {
  border: 1px solid green;

  .btn-group > .btn {
    height: $menuHeight;
    border: none;
    border-radius: 0;
  }
}

#marketing-content {
  background-color: $greyTone;
  padding-top: 50px;
  padding-bottom: 50px;

  .card {
    border: 1px solid #999;
    padding: 25px;

    .inner {
      border: 1px solid blue;
    }

    .heading {
      border-bottom: 2px solid #999;
      padding-bottom: 8px;
      margin-bottom: 15px;
    }

    .caption p {
      font-size: 1.35em;
      color: $secondaryColor;
    }
  }
}

#body-content {
  background-color: $greyTone;
  padding: 50px 0;

  .thumbnail {
    min-height: 250px;
    padding: 30px;
  }
}

footer {
  background: #FFF;
  margin-top: 50px;

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    display: inline-block;
    list-style: none;
  }

  .social-links {
    height: 50px;
    border: 1px solid blue;

    ul {
      border: 1px solid red;
    }

    li {
      padding: 10px 35px;
    }
  }

  .footer-links {
    border: 1px solid orange;
    height: 50px;
    margin-bottom: 50px;

    ul {
      border: 2px solid blue;
    }

    li {
      padding: 15px 25px;
      font-size: .9em;
    }
  }

}
