<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="sample template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Corporate Design</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- navigation -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Corporate Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- search bar -->
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form class="form-inline" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div> -->

    <!-- head/mast -->

    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Site Heading</h1>
        <h2 class="text-center">Subheading</h2>
      </div>
    </div>

    <!-- submenu -->
    <div class="container">
      <div id="submenu" class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="center-block text-center">
              <!-- <div class="btn-group" v-for="{{ link in links }}">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ link.name }}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  {{ menu | json }}
                  <li v-for="menu in link.root">
                    {{ menu }}
                  </li>
                </ul>
              </div> -->
              <div class="btn-group">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Large button <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>one</li>
                  <li>two</li>
                </ul>
              </div>
              <div class="btn-group">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Large button <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>one</li>
                  <li>two</li>
                </ul>
              </div>
              <div class="btn-group">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Large button <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>one</li>
                  <li>two</li>
                </ul>
              </div>
              <div class="btn-group">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Large button <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>one</li>
                  <li>two</li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- marketing content -->
    <div id="marketing-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 card" v-for="i in info">
            <div class="inner">
              <div class="heading">
                <h3 class="text-center">{{ i.heading }}</h3>
              </div>
              <div class="caption">
                <p class="text-center">{{ i.caption }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- body content -->
    <div id="body-content">
      <div class="container">
        <div class="row teaser" v-for="c in content">
          <div class="col-md-10 col-md-offset-1 thumbnail">
            <p class="heading"><span>{{c.title}}</span><span>{{ c.created }}</span></p>
            <h3>title</h3>
            <img src=".." alt="..." class="img-responsive">
            <div class="caption">
              <p>{{ c.body }}</p>
            </div>
            <div class="continue">
              <button class="btn btn-sm btn-default">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- footer -->
    <footer class="container">
      <social-links :links="links"></social-links>
      <bottom-links :links="links"></bottom-links>
    </footer>


    <!-- MARKETING TEMPLATES -->
    <script type="x/template" id="marketing-template">

      <div class="container">
        <div class="row" v-for="i in info">
          <div class="col-md-4">
            {{ i.heading }}
            {{ i.caption }}
          </div>
          <div class="col-md-4">two</div>
          <div class="col-md-4">three</div>
        </div>
      </div>

    </script>


    <!-- FOOTER TEMPLATES -->
    <script type="x/template" id="social-links-template">

        <div class="social-links">
          <div class="row">
            <div class="col-md-12">
              <ul class="text-center">
                <li v-for="link in links.social">
                  <a href="#" target="_blank"><i class="fa fa-2x fa-{{ link.name }}"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </script>

    <script type="x/template" id="bottom-links-template">

        <div class="footer-links">
          <div class="row">
            <div class="col-md-12">
              <ul class="text-center">
                <li v-for="link in links.company">
                  <a href="{{ link.href }}" target="_blank">{{ link.name }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/vue/dist/vue.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
